<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yycg.base.dao.mapper.DicttypeMapper">
  <resultMap id="BaseResultMap" type="yycg.base.pojo.Dicttype">
    <id column="TYPECODE" jdbcType="VARCHAR" property="typecode" />
    <result column="TYPENAME" jdbcType="VARCHAR" property="typename" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <!--<result column="TYPESORT" jdbcType="DECIMAL" property="typesort" />-->
    <!--<result column="CODELENGTH" jdbcType="VARCHAR" property="codelength" />-->
    <collection property="dictinfo"  ofType="yycg.base.pojo.Dictinfo"  >
      <id column="ID" property="id"></id>
      <result column="DICTCODE" jdbcType="VARCHAR" property="dictcode" />
      <result column="dtype" jdbcType="VARCHAR" property="typecode" />
      <result column="INFO" jdbcType="VARCHAR" property="info" />
      <result column="iREMARK" jdbcType="VARCHAR" property="remark" />
      <result column="UPDATETIME" jdbcType="VARCHAR" property="updatetime" />
      <result column="DICTSORT" jdbcType="DECIMAL" property="dictsort" />
      <result column="ISENABLE" jdbcType="VARCHAR" property="isenable" />
      <result column="VALUETYPE" jdbcType="VARCHAR" property="valuetype" />

    </collection>

  </resultMap>




  <sql id="Base_Column_List">
    TYPECODE, TYPENAME, REMARK, TYPESORT, CODELENGTH
  </sql>
<select id="selectByTypecode1" parameterType="java.lang.String" resultMap="BaseResultMap">
  SELECT * from dicttype where TYPEcode ='006'
</select>
  <select id="s1" resultType="yycg.base.pojo.Dictinfo">
    SELECT * from dictinfo WHERE TYPEcode='006'
  </select>
  <!--根据类型编码 -->
  <select id="selectByTypecode" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT t.typecode typecode,t.typename typename,t.remark ,i.id id,i.typecode dtype, i.dictcode dictcode,i.info info,i.remark iremark,
    i.updatetime updatatime,i.dictsort dictsort,i.isenable isenable,i.valuetype
     from dicttype t,dictinfo i WHERE t.typecode=i.typecode and i.typecode=#{typecode}
  </select>

</mapper>